body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cardNumWidth{
  display: block;
  width: 100%;
}

.error{
  color: darkred;
}

.textAreaSize{
  width: 500px;
}

.logoSize{
  width: 20%;
  height: 20%;
}

.cardSize{
  width: 100%;
  height: 100%;
}

.testBGRed{
  min-height: 100%;
  background-color: darkred;
}

.testBGGreen{
  background-color: green;
}

.testBGBlue{
  background-color: blue;
}

.testBgLightGrey{
  background-color: lightgrey;
}

.testBgDarkGrey{
  background-color: darkgrey;
}

span.belowCardPanelTextBold{
  font-weight: bold;
}

.belowCardPanelTextOblique{
  font-style: oblique;
}

span.belowCardPanelTextBig{
  font-size: 150%;
}

span.upperFormPanel{
  font-size: 120%;
  font-style: oblique;
}


