<div layout="row" layout-align="center center">

    <form role="form" name="cardForm" enctype="multipart/form-data">

<!-- https://css-tricks.com/boxes-fill-height-dont-squish/ -->
        <!-- Interad upper logo panel -->
        <div layout="row" layout-sm="column" novalidate="">
            <div flex="100" class="testBgLightGrey" style="min-height: 50px;">
                <img ng-src="../resources/interad_logo.png" alt="Logo" class="logoSize">
            </div>
        </div>
        <!-- Interad card panel -->
        <div layout="row" flex="auto">
            <div flex="33" class="testBgDarkGrey"></div>
            <div flex="33" layout-align="center center" class="testBgDarkGrey" style="min-height: 150px; max-width: 400px">
                <img ng-src="../resources/Sample_CreditCard.png" alt="Logo" class="cardSize">
            </div>
            <div flex="33" class="testBgDarkGrey"></div>
        </div>
        <!-- Text panel ( What interad..) -->
        <div layout="row" flex="auto">
            <div flex="33" class="testBgDarkGrey"></div>
            <div flex="50" class="testBgDarkGrey">
                <span class="belowCardPanelTextOblique belowCardPanelTextBig">What can the
                    <span class="belowCardPanelTextBold">Interad card</span> do for you</span>
            </div>
            <div flex="33" class="testBgDarkGrey"></div>
        </div>
        <!-- Message before form inputs
        <div layout="row" flex="auto">
            <div flex="50" class="testBgLightGrey" style="min-height: 30px;">
                <span class="upperFormPanel">
                    Simply complete the form below to enter CashBack contest
                    for a chance to win** 1 of 10 trips worth $10.000
                </span>
            </div>
        </div>
         -->
        <md-content class="testBgLightGrey belowCardPanelTextOblique">
                    Simply complete the form below to enter CashBack contest
                    for a chance to win** 1 of 10 trips worth $10.000
        </md-content>
        <!-- **************************************
            Client's Name input field using angular material
            and angular validation with patterns
        -->
        <div layout-gt-xs="row" layout-xs="column" class="mainFormBg" layout-padding>
            <div flex >
                <md-input-container>
                    <label class="sellLabel">Your name</label>
                    <input name="client"
                           ng-model="data.name"
                           placeholder="Name"
                           class="form-control"
                           ng-minlength="5"
                           ng-maxlength="50"
                           ng-pattern="/^[A-Za-z.,\ '-]*$/" />
                </md-input-container>
                <!--
               Name input field error validation
                -->
                <div class="error"
                     ng-show="cardForm.client.$dirty && cardForm.client.$invalid">
                    <img ng-src="../resources/error_icn.png">
                    <small class="error"
                           ng-show="cardForm.client.$error.minlength">
                        Name is required to be at least 5 numbers
                    </small>
                    <small class="error"
                           ng-show="cardForm.client.$error.maxlength">
                        Name cannot be longer than 50 characters
                    </small>
                    <small class="error"
                           ng-show="cardForm.client.$error.pattern">
                        Name must consist of Alphabetic characters and ,.'- characters
                    </small>
                </div>

                <br/>
                <!-- 4 sets of credit card numbers -->
                <div>
                    <!-- Credit card input data FIRST set -->
                    <md-input-container>
                        <label class="cardNumWidth" class="cardNumber">Card #</label>
                    <input name="card1"
                           size="4"
                           maxlength="4"
                           ng-model="data.card1"
                           placeholder="XXXX"
                           class="form-control"
                           ng-length="4"
                           ng-minlength="4"
                           ng-maxlength="4"
                           ng-pattern="/^\d+$/" />
                </md-input-container>

                    <!-- Credit card input data SECOND set -->
                    <md-input-container>
                        <input name="card2"
                               ng-model="data.card2"
                               size="4"
                               maxlength="4"
                               placeholder="XXXX"
                               class="form-control"
                               ng-minlength="4"
                               ng-maxlength="4"
                               ng-pattern="/^\d+$/" />
                    </md-input-container>

                    <!-- Credit card input data THIRD set -->
                    <md-input-container>
                        <input name="card3"
                               ng-model="data.card3"
                               size="4"
                               maxlength="4"
                               placeholder="XXXX"
                               class="form-control"
                               ng-minlength="4"
                               ng-maxlength="4"
                               ng-pattern="/^\d+$/" />
                    </md-input-container>

                    <!-- Credit card input data FOURTH set -->
                    <md-input-container>
                        <input name="card4"
                               ng-model="data.card4"
                               size="4"
                               maxlength="4"
                               placeholder="XXXX"
                               class="form-control"
                               ng-minlength="4"
                               ng-maxlength="4"
                               ng-pattern="/^\d+$/" />
                    </md-input-container>
                    <!--
                    Validation of the fourth credit card part number
                    -->
                    <div class="error"
                         ng-show="cardForm.card4.$dirty && cardForm.card4.$invalid ||
                                  cardForm.card3.$dirty && cardForm.card3.$invalid ||
                                  cardForm.card2.$dirty && cardForm.card2.$invalid ||
                                  cardForm.card1.$dirty && cardForm.card1.$invalid">
                        <img ng-src="../resources/error_icn.png">
                        <small class="error"
                               ng-show="cardForm.card1.$error.pattern ||
                                        cardForm.card2.$error.pattern ||
                                        cardForm.card3.$error.pattern ||
                                        cardForm.card4.$error.pattern">
                            Credit card numbers 0-9 are allowed
                        </small>
                    </div>
                </div>

                    </div>
            <div flex>
                <!-- **************************************
                E-mail input field using angular material
                and angular validation with patterns
                -->
                <md-input-container>
                    <label class="sellLabel">E-mail</label>
                    <input name="email"
                           ng-model="data.email"
                           placeholder="user@domain.resolution"
                           class="form-control"
                           ng-minlength="5"
                           ng-maxlength="50"
                           ng-trim="true"
                           ng-pattern="/^[a-zA-Z]+[A-Za-z0-9._-]+@[a-z]+\.[a-z.]{2,5}$/" />
                </md-input-container>
                <!--
                Email input field error validation
                -->
                <div class="error"
                     ng-show="cardForm.email.$dirty && cardForm.email.$invalid">
                    <img ng-src="../resources/error_icn.png">
                    <small class="error"
                           ng-show="cardForm.email.$error.minlength">
                        Email must be 5 characters at least
                    </small>
                    <small class="error"
                           ng-show="cardForm.email.$error.maxlength">
                        Email must be 50 characters maximum
                    </small>
                    <small class="error"
                           ng-show="cardForm.email.$error.pattern">
                        Email format is incorrect
                    </small>
                </div>

                <!-- **************************************
                Phone number input field using angular material
                and angular validation with patterns
                -->
                <md-input-container>
                    <label class="sellLabel"><span style="color:red">*</span> Phone number</label>
                    <input name="phone"
                           ng-model="data.phone"
                           placeholder="6471234567"
                           class="form-control"
                           ng-minlength="9"
                           ng-maxlength="20"
                           required
                           ng-trim="true"
                           ng-pattern="/^[0-9]*$/" />
                </md-input-container>
                <!--
                Email input field error validation
                -->
                <div class="error"
                     ng-show="cardForm.phone.$dirty && cardForm.phone.$invalid">
                    <img ng-src="../resources/error_icn.png">
                    <small class="error"
                           ng-show="cardForm.phone.$error.required">
                        Phone number is required
                    </small>
                    <small class="error"
                           ng-show="cardForm.phone.$error.minlength">
                        Phone number must be 9 characters at least
                    </small>
                    <small class="error"
                           ng-show="cardForm.phone.$error.maxlength">
                        Phone number must be 20 characters maximum
                    </small>
                    <small class="error"
                           ng-show="cardForm.phone.$error.pattern">
                        Phone number format is incorrect
                    </small>
                </div>
            </div>
        </div>
    <div class="mainFormBg">
        <md-input-container flex="auto" layout-margin>
            <textarea cols="68" placeholder="Why do you deserve the money?"></textarea>
        </md-input-container>

        <div flex="auto">
            <md-checkbox ng-model="registeredAccepted" aria-label="Checkbox-1">
                I am registering an Interad business card
            </md-checkbox>
        </div>

        <div flex="auto" ng-show="registeredAccepted" layout-padding>
            <div flex="auto">
            <md-input-container>
                <label class="sellLabel">Business name</label>
                <input name="businessName"
                       ng-model="data.businessName"
                       placeholder="Name..."
                       class="form-control"
                       ng-minlength="5"
                       ng-maxlength="50"
                       ng-pattern="/^[A-Za-z.,\ '-]*$/" />
            </md-input-container>
            <!--
           Name input field error validation
            -->
            <div class="error"
                 ng-show="cardForm.businessName.$dirty && cardForm.businessName.$invalid">
                <img ng-src="../resources/error_icn.png">
                <small class="error"
                       ng-show="cardForm.businessName.$error.minlength">
                    Name is required to be at least 5 numbers
                </small>
                <small class="error"
                       ng-show="cardForm.businessName.$error.maxlength">
                    Name cannot be longer than 50 characters
                </small>
                <small class="error"
                       ng-show="cardForm.businessName.$error.pattern">
                    Name must consist of Alphabetic characters and ,.'- characters
                </small>
            </div>
            </div>

            <div flex="auto">
            <md-checkbox ng-model="registeredAcceptedF" aria-label="Checkbox-1">
                I certify that I am the owner of the business       <br/>
                under which Interad Platinum card that I've entered <br/>
                (into contest) has been issued.                     <br/>
            </md-checkbox>
                <br/>
                <span class="noteColor">
                Note: If an Interad Platinum card is selected as a   <br/>
                potential winner, the business owner must provide    <br/>
                identification satisfactory to the Sponsor confirming<br/>
                the business ownership. The prize will be awareded in<br/>
                the name of the business and the business onwer(s)   <br/>
                will determine who will participate in the prize.    <br/>
                </span>
                <br/>
            </div>
        </div>

        <div flex="auto">
            <md-checkbox ng-model="licenceAccepted" required aria-label="Checkbox-1">
                I have read and agreed to the <br/>
                <span style="color: blue; text-decoration: underline">Official Contest Rules and Regulations
            </md-checkbox>
        </div>
    </div>

        <div flex="66" flex-offset="30">
            <md-button layout-padding ng-disabled="cardForm.$invalid" type="button" ng-click="post()" value="POST"
                       class="md-raised md-primary">Submit application</md-button>
        </div>


    </form>
</div>