<md-content layout-gt-sm="" layout-padding="" layout-align="center center">

    <form name="cardForm" enctype="multipart/form-data" novalidate>
        <h1>Apply for a card</h1>
        <!-- Warning submitting form holder -->
        <p class="text-warning">{{errorMessage}}</p>

        <!-- **************************************
            ISBN input field using angular material
            and angular validation with patterns
        -->
        <md-input-container>
            <label class="sellLabel">Credit card number</label>
            <input name="isbn"
                   ng-model="book.isbn"
                   placeholder="Isbn"
                   class="form-control"
                   ng-minlength="10"
                   ng-maxlength="50"
                   ng-required="required"
                   ng-pattern="/^\d+$/" />
        </md-input-container>
        <!--
        ISBN input field error validation
        -->
        <div class="error"
             ng-show="cardForm.isbn.$dirty && cardForm.isbn.$invalid">
            <small class="error"
                   ng-show="cardForm.isbn.$error.required">
                ISBN is required.
            </small>
            <small class="error"
                   ng-show="cardForm.isbn.$error.minlength">
                ISBN is required to be at least 10 characters
            </small>
            <small class="error"
                   ng-show="cardForm.isbn.$error.maxlength">
                ISBN cannot be longer than 16 characters
            </small>
            <small class="error"
                   ng-show="cardForm.isbn.$error.pattern">
                ISBN consist of numbers only
            </small>
        </div>
        <br />

        <!-- Submit -->
        <md-button type="button" ng-click="post()" value="POST"
                   ng-disabled="sellForm.$invalid" class="md-raised md-primary">Sell</md-button>
        <p ng-hide="authenticatedUser.authStatus">Log in or register first!</p>

    </form>
</md-content>